.app-container {
  border-style: solid;
  border-color: black;
  padding: 50px;
  background-color: bisque;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  /* color: ; */
  /* width: 10%; */
}
.buttons button {
  width: 40%;
  background-color: cadetblue;
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
  font-weight: bolder;
}
.final {
  /* border-style: solid; */
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  /* top: -1000px; */
  margin-top: -80px;
  /* padding: 250px; */
}

.header {
  font-weight: bolder;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
}
.input {
  width: 30px;
  margin-right: 5px;
}
.timer {
  /* border-style: solid; */
}
